[Unit]
Description = DKConsole v2
After = network.target

[Service]
EnvironmentFile= /home/pi/donkeycar-console-v2/gunicorn.env
PermissionsStartOnly = true
PIDFile = /run/dkconsole/dkconsole.pid
User = pi
Group = pi
WorkingDirectory = /home/pi/donkeycar-console-v2
ExecStartPre = /bin/mkdir /run/dkconsole
ExecStartPre = /bin/chown -R pi:pi /run/dkconsole
ExecStart = /home/pi/donkeycar-console-v2/dc2env/bin/gunicorn dkconsole.wsgi -b 0.0.0.0:8000 --pid /run/dkconsole/dkconsole.pid -c gunicorn.config.py
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/dkconsole

# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=dc2

[Install]
WantedBy = multi-user.target